.vue__page__reservation {
  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    padding-left: 0px;
    padding-right: 0px;
  }

  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    padding: 0;
    height: 32px;
  }

  .button-for-reservation {
    width: 100% !important;
    height: 32px !important;
    opacity: 0.9;
    border-left: thin solid rgba(255, 255, 255, .46) !important;
  }

  .btn-reservation-info {
    width: 32px !important;
    height: 32px !important;
  }

  .date-picker-for-reservation {
    input {
      text-align: center;
    }
  }

  .input-week-picker {
    .v-input__slot {
      width: 200px;
    }

    max-width: 200px;
  }

  .show-detail-reservation {
    position: absolute;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.34);
  }

  .navbar {
    background: url("/img/shapka_zapisi.png?1");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
  }
}


