@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'pages/reservation';
@import '~vuetify/dist/vuetify.min.css';

.v-application--wrap {
  flex: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  flex-direction: unset;
  min-height: unset;
  max-width: 100%;
  position: relative;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.theme--light.v-btn {
  color: white;
}

.v-date-picker-table {
  .v-btn:not(.v-btn--active) {
    color: rgba(0, 0, 0, .87) !important;
  }
}

.box-shadow-none {
  box-shadow: none !important;
}

.v-messages__message {
  color: #F44336;
}

.v-input--checkbox {
  .v-label {
    margin-bottom: 0px;
    margin-left: 3px;
  }
}

.v-alert__content {
  color: white;
}

.v-data-table {
  width: 100%;
}

.v-chip__content {
  color: white;
}

.vue-notification {
  padding: 10px;
  margin: 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  .notification-title {
    font-size: 14px;
  }

  .notification-content {
    font-size: 13px;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.v-application a {
  color: white !important;
  text-decoration: underline;
}

.v-application a:hover {
  color: #FFB65B;
  text-decoration: underline;
  cursor: pointer;
  transition: ease all 0.2s;
}

.nav-item .dropdown-menu {
  z-index: 999;
}

a:hover {
  text-decoration: none !important;
}

.primary{
  background-color: #630597;
}
